/* 
**************************************
********** Modal Container* **********
**************************************
*/

/* Modal Container CSS */
.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8); /* Optional: for a background overlay */
  z-index: 9999;
}

/* Adjust modal-box width for mobile */
.modal-box {
  position: relative;
  width: 90%; /* Adjust to 90% of screen width for smaller devices */
  max-width: 200px; /* For larger screens, keep the maximum width */
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
}

/* Input fields styling for mobile - full width */
.modal-box input {
  font-size: 18px;  /* Set to 16px to prevent automatic zooming */
  width: 100%; /* Full width for mobile devices */
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box; /* Ensures padding and border are included in the width */
}

/* Button styles for mobile */
.modal-box button {
  padding: 10px;
  width: 100%; /* Make buttons full width for easy tapping */
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-box button:hover {
  background-color: #45a049;
}

/* Red reset button */
.modal-reset-button {
  background-color: #f54242;
}

.modal-reset-button:hover {
  background-color: #942626;
}

/* Ensure buttons are aligned in a single column on mobile */
.modal-button-group {
  display: flex;
  flex-direction: column; /* Stack buttons vertically on mobile */
}

/* Responsive design: smaller screens */
@media only screen and (max-width: 300px) {
  .modal-box {
    width: 95%; /* Full width for mobile screens */
    position: sticky;
    top: 20px;
  }

  .modal-button-group {
    flex-direction: column; /* Stack buttons vertically */
  }
}
/* 
**************************************
******** End Modal Container* ********
**************************************
*/
